hr {
    background-color: #555555;
    height: 5px;
    width: auto;
}

body {
    background-image: url("alap.jpg");
    color: #333333;
    margin-right: 300px;
    margin-left: 300px;
    margin-top: 100px;
}

h1 {
    text-align: center;
    font-weight: bold;
}

p {
    padding: 5px;
}

.also {
    text-align: right;
}

.male img {
    float: right;
    width: 100px;
    margin-right: 20px;
}

.female img {
    float: right;
    width: 100px;
    margin-right: 20px;
}

.male {
    overflow: hidden;
    margin-bottom: 20px;
}

.female {
    overflow: hidden;
    margin-bottom: 20px;
}