body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FAFAFA;
    color: #222222;
    margin: 0;
    padding: 0;
}

.container {
    width: 85%;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 100px;
}

h1 {
    font-size: 2.5em;
}

.kek-vonal {
    height: 4px;
    background-color: #0099FF;
    border: none;
}

.motto {
    font-style: italic;
}

.helyszin {
    text-align: center;
}

footer {
    text-align: center;
}