body {
    background-color: #DDFFFF;
    color: #004400 ;
    font-family: Monotype Corsiva, Times new Roman, Courier;
    width: 700px;
    margin: auto;
}

.felsocim {
    font-style: italic;
}

.alsocim {
    font-style: italic;
    text-align: right;
}

.bdoboz > h2 {
    text-align: center;
}

.felso {
    font-size: 50px;
}

.also {
    font-size: 40px;
}

.bdoboz {
    background-color: lightgreen;
    border: 1px solid black;
    margin: auto;
}

.kdoboz {
    border: 4px solid gray;
    background-color: lightgreen;
    margin: auto;
    width: 60%;
    padding: 2px;
}

.nagylista > li {
    font-size: 25px;
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.szobak {
    margin: 3% auto 3% auto;
    padding: 3%;
}

.szoba_arak {
    margin: auto;
}

.szoba_arak th {
    background-color: #0A0;
    height: 5px;
}

.szoba_arak td {
    background-color: lightgreen;
}

.szoba_arak tr:last-child td {
    background-color: #0A0;
    height: 5px;
}

.arak {
    margin: 15px auto;
    border: 1px solid black;
}

.arak td {
    background-color: lightgreen;
    border: 1px solid black;
    padding: 10px 20px;
}

.csoport {
    text-align: right;
    font-style: italic;
}

.lehetoseg {
    display: flex;
}

.lehet_lista {
    margin: auto 0;
}

.lehet_lista li {
    font-size: larger;
    text-decoration: none;
    font-weight: normal;
    margin: auto;
}

hr {
    background-color: limegreen;
    border-color: limegreen;
}

.megkeres {
    text-align: center;
    font-style: italic;
}

.email {
    text-align: center;
    text-decoration: underline;
}

.kornyek {
    text-align: center;
    font-weight: normal;
}